body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  font-weight:none;
  color:chocolate;
  background-color: darkcyan;
  width: 800px;
  margin: auto;
  text-align: center;
}
p{
  font-style:inherit;
  color: antiquewhite;
  background-color: yellowgreen;
  text-decoration: line-through;
  text-align: center;
}